
@Html.Partial("~/Views/Home/_Menu.cshtml")

<header>
    <div class="container">
        <div class="row">
            <div class="col-sm-7">
                <div class="header-content">
                    <div class="header-content-inner">
                        <h1>Lemurian civilization has unleashed few of its remote possibilities!</h1>
                        <a href="../help" class="btn btn-outline btn-xl page-scroll">Explore them now!</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>